<div id="student_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="msg_title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #083c64;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section id="tabs" class="project-tab">
                <div class="row">
                    <div class="col-md-12">
                        <nav id="nav_options">
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="true">Nuevo estudiante</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Buscar estudiantes</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent" style="padding-top: 25px;">
                            <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                                <form action="/" method="post">
                                    {% csrf_token %}
                                    <div class="wrap-input100 validate-input" style="padding-down: 5px;">
                                        <input class="form-control input100" style="padding:0 30px 0 68px;" id="code" name="code" type="number" onkeypress="validate_numinput(event)" placeholder="Código estudiantil" value="{{ form_values.code }}" required>
                                        <span class="symbol-input100">
                                            <i class="fas fa-id-card-alt" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input mx-auto" style="padding-down: 5px;" >
                                        <input class="form-control input100" style="padding:0 30px 0 68px;" id="name" name="name" type="text" placeholder="Nombre completo" value='{{ form_values.name }}' required>
                                        <span class="symbol-input100">
                                            <i class="fas fa-user" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input" style="padding-down: 5px;" >
                                        <input class="form-control input100" style="padding:0 30px 0 68px;" id="email" name="email" type="email" placeholder="Correo institucional" value="{{ form_values.email }}" required>
                                        <span class="symbol-input100">
                                            <i class="fas fa-envelope" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="wrap-input100 validate-input" style="padding-down: 5px;" >
                                        <select class="form-control input100" style="padding:0 30px 0 68px;" id="semester" name="semester" style="max-width: 120px;" required>
                                            {% if form_values.semester is not None %}
                                                <option value="{{ form_values.semester }}" selected hidden>{{form_values.semester}} Semestre</option>
                                            {% else %}
                                                <option value="" disabled selected hidden>Semestre</option>
                                            {% endif %}
                                            <option value="1">1 Semestre</option>
                                            <option value="2">2 Semestre</option>
                                            <option value="3">3 Semestre</option>
                                            <option value="4">4 Semestre</option>
                                            <option value="5">5 Semestre</option>
                                            <option value="6">6 Semestre</option>
                                            <option value="7">7 Semestre</option>
                                            <option value="8">8 Semestre</option>
                                            <option value="9">9 Semestre</option>
                                            <option value="10">10 Semestre</option>
                                        </select>
                                        <span class="symbol-input100">
                                            <i class="fas fa-university" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input id="ops_addedit" class="d-none" style="padding:0 30px 0 68px;" type="text">
                                    <input id="stdconfirm_btn" class="btn btn-block login-btn mb-4 adaslab_btn" type="submit">
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row justify-content-center">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <input id="std_search" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Código estudiantil" onkeypress="validate_numinput(event)">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn adaslab_btn" type="button" onclick="search_student()">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="padding-top: 5px;">
                                    <input type="hidden" id="group_data">
                                    <table id="sdt_table" class="table d-none">
                                        <thead class="text-adassec">
                                            <th>
                                                <h4><b>Código</b></h4>
                                            </th>
                                            <th>
                                                <h4><b>Nombre</b></h4>
                                            </th>
                                            <!--<th>
                                                <h4><b>Semestre</b></h4>
                                            </th>
                                            <th>
                                                <h4><b>Correo</b></h4>
                                            </th>-->
                                            <th>
                                                <h4><b>Acciones</b></h4>
                                            </th>
                                        </thead>
                                        <tbody id="student_list">
                                            <!--{% for estudiante in estudiantes %}
                                                <tr class="" id="{{estudiante.codigo}}">
                                                    <td>
                                                        {{estudiante.codigo}}
                                                    </td>
                                                    <td>
                                                        {{estudiante.nombre}}
                                                    </td>
                                                    <td>
                                                        {{estudiante.semestre}}
                                                    </td>
                                                    <td>
                                                        {{estudiante.correo}}
                                                    </td>
                                                    <td>
                                                       <button class="btn btn-secondary rounded" title="Agregar estudiante" onclick=""><i class="fa fa-check-circle" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>  
                                            {% endfor %}-->
                                        </tbody>
                                    </table>
                                    <h4 id="consult_msg" class="d-none"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="confirm" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Retirar estudiante del grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #083c64;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="delete_name"></p>
            </div>
            <div class="modal-footer">
                <form action="/" method="post">
                    {% csrf_token %}
                    <input id="ops_delete" class="d-none" style="padding:0 30px 0 68px;" type="text">
                    <button class="btn rounded" data-dismiss="modal" title="Agregar estudiante" >Cancelar</button>
                    <button id="delete_confirm" type="submit" class="btn adaslab_btn rounded" title="Agregar estudiante" >Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% for grupo in grupos %}
    <div class="card card-profile">
        <div class="card-header card-header-adasfirst">
            <p class="card-category"><b>{{ grupo.curso.nombre }}</b></p>
            <h4 class="card-title"><b>Grupo de laboratorio #{{ grupo.numero }}</b></h4>
        </div>
        <div class="card-body">
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-secondary rounded" title="Agregar estudiante" onclick="addStudent_panel({'id_grupo':parseInt('{{grupo.numero}}'), 'curso':parseInt('{{grupo.curso.codigo}}')})"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></button>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-adassec">
                        <th>
                            <h4><b>Código</b></h4>
                        </th>
                        <th>
                            <h4><b>Nombre</b></h4>
                        </th>
                        <th>
                            <h4><b>Semestre</b></h4>
                        </th>
                        <th>
                            <h4><b>Correo</b></h4>
                        </th>
                        <th>
                            <h4><b>Acciones</b></h4>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{user_student.codigo}}
                            </td>
                            <td>
                                {{user_student.nombre}}
                            </td>
                            <td>
                                {{user_student.semestre}}
                            </td>
                            <td>
                                {{user_student.correo}}
                            </td>
                            <td></td>
                        </tr>
                        {% for estudiante in grupo.estudiantes %}
                            <tr>
                                <td>
                                    {{estudiante.datos.codigo}}
                                </td>
                                <td>
                                    {{estudiante.datos.nombre}}
                                </td>
                                <td>
                                    {{estudiante.datos.semestre}}
                                </td>
                                <td>
                                    {{estudiante.datos.correo}}
                                </td>
                                <td>
                                    {% if estudiante.is_user is False  %}
                                        <button class="btn btn-secondary rounded" title="Editar información" onclick="editStudent_panel({'code':parseInt('{{estudiante.datos.codigo}}'),'name' : '{{estudiante.datos.nombre}}','semester' : '{{estudiante.datos.semestre}}','email' : '{{estudiante.datos.correo}}', 'id_grupo':parseInt('{{grupo.numero}}'), 'curso':parseInt('{{grupo.curso.codigo}}')})"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    {% endif %}
                                    <button class="btn btn-secondary rounded" title="Retirar del grupo" onclick="show_modalconfirm({'code':parseInt('{{estudiante.datos.codigo}}'),'name' : '{{estudiante.datos.nombre}}','id_grupo':parseInt('{{grupo.numero}}'), 'curso':parseInt('{{grupo.curso.codigo}}')})"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}
